* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: rgba(0, 0, 139, 0.445);
    padding: 1rem;
}

main {
    background-color: orange;
    height: 100vh;
}

form {
    display: grid;
}

footer {
    background-color: rgba(0, 0, 139, 0.404);
    padding: 1rem;
}

#dvPreview {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    width: fit-content;
    height: 200px;
    overflow: scroll;
    display: none;
}