* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    background-color: blue;
}

.right-side {
    background-color: chartreuse;
}